{% extends "base.html" %}
{% block top %}
<script>
$( document ).ready(function() {

  // Building latest answers section
  $.ajax({
    url: "rpc",
    data:{action:"getLatestAnswers"},
    type: "GET",
    dataType: "json",
    success: function( json ){
      var $answerTable = $("<table>", {class:"table"});

      var tableRows = [];

      for(i=0; i<json.length; i++){
        var item = json[i];
        var row  = "<tr><td id='editCell'></td><td>" + item.word + "</td>";
        row = row + "<td>"
        for(j=0; j<item.answers.length; j++){
          if (item.answers[j].status=="match"){
            row = row + '<span class="label label-success">' +
             item.answers[j].answer_text + "</span>" + " ";
          }
          if (item.answers[j].status=="wrong"){
            row = row + '<span class="label label-important">' +
             item.answers[j].answer_text + "</span>"+ " ";
          }
          if (item.answers[j].status=="neutral"){
            row = row + '<span class="label label">' +
             item.answers[j].answer_text + "</span>"+ " ";
          }

        }
        row = row + "</td>";
        row = row + "<td>" + item.rating + " points </td>";
        row = row + "</tr>";
        tableRows.push(row);
      }
      $answerTable.append( tableRows.join("") );
      $answerTable.append("</table>");
      $answerTable.delegate()
      $answerTable.appendTo("#answerblock");
      
    }
  })
  });
</script>
{% endblock %}
{% block content %}

    <div class="container">
      <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/vocabulary">Vocabulary</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/signout">Log out</a></li>
          
        </ul>
        <ul class="nav pull-right">
          <li class=".pull-right"><h4>{{ stats_dict.total_points }}<small> total points</small></h4></li>
          <li class="divider-vertical"></li>
          <li><h4>{{ stats_dict.total_words }}<small> words learned</small></h4></li>
        </ul>
   
      </div>
    </div> <!-- Navigation Bar-->
      <div class="row">
        <div class="span3">          
          <div class="well">
            <h4>Latest from your friends</h4>

          </div>
      </div> <!-- Sidebar -->

      <div class="span9">
       <h3>Recent answers</h3>
          <div id="answerblock"></div> <!-- Populates by JavaScript -->
    </div>
  </div><!-- /Main area -->
  </div> <!-- /container -->
{% endblock %}
