{% extends "base.html" %}

<div class="container-fluid">
  {% block content %}  


  {% if user_name %}
    <div class="row">  
      <div class="span1 offset10">
        <A HREF="/signout"><h3>Log out</h3></A>
      </div>
      <div class="span1">
        <A HREF="/details"><h3>Settings</h3></A>
      </div>
    </div>
    
  {% else %}
    <div class="row">  
      <div class="span1 offset10">
        <A HREF="/login"><h3>Log in</h3></A>
      </div>
      <div class="span1">
        <A HREF="/register"><h3>Sign up</h3></A>
      </div>
    </div>
  {% endif %}

 
  {% if user_name %}
    <h1>Welcome, {{ user_name}}!</h1>
  {% else %}

    <div class="row">
    <div class="span12">
     <div class="hero-unit">
      <h1>How to use @LanguageBot?</h1>
        <ol>
          <li><p>Become upset with your vocabulary</p></li>
          <li><p>Create an account at languagebot.me</p></li>
          <li><p>Encounter a new word and send a message to @LanguageBot:
          amaranthine [am-uh-RAN-thin]: неувядающий, вечный</p></li>
          <li><p>@LangugeBot will start sending
          messages back to you with all the new words you've added in random
          fashion.</p></li>
          <li><p>You can also follow your friends to see what words they are
          learning.</p></li>
          <li><p>Learn new words and become Scrabble champion!</p></li>
        </ol>
    </div>
     </div>
     </div>
    
  {% endif %}
  
{% endblock %}    
</div>

